.axolotl-rarity.basic {
    color: #919191;
}

.axolotl-rarity.rare {
    color: #21f721;
}

.axolotl-rarity.epic {
    background: linear-gradient(180deg, #ffe16b 10%, #ffaa48 50%, #ffe16b 90%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}

.axolotl-rarity.legendary {
    background: linear-gradient(180deg, #ffd220 0%, #ff4eca 90%); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}

.axolotl-rarity.mythical {
    background: linear-gradient(180deg, #ffd220 0%, #ff3232 100%); 
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent; 
}

.axolotl-rarity.event {
    background: linear-gradient(180deg, #429dff 20%, #1a66ff 100%); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}

.axolotl-rarity.exclusive {
    background: linear-gradient(180deg, #dc84ff 40%, #be5cfb 100%); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}

.axolotl-rarity.secret {
    background: linear-gradient(180deg, #429dff 0%, #000346 80%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}